*,*:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.section{
    padding: 20px 0;
}
.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 1px solid gainsboro;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}
.header__left{
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: -50px;
    justify-content: space-between;
    align-items: center;
}
.header__list li{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 20px;
    position: relative;
}
.header__link{
    font-size: 16px;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    z-index: 4;
    font-family: sans-serif;
}

.header__logosm{
    color: #000;
    text-decoration: none;
    z-index: 4;
    font-size: 12px;
    color:#c11f46;
    font-family: sans-serif;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__burger {
    display: none;
}

.header__link {
    color: #77797c;
    font-size: 18px;
    text-decoration: none;
}

.social__header{
    /* fill: #77797c; */
    display: flex;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    z-index: 4;
    transition: all 0.3s ease 0s;
    align-items: flex-end;
}
.alc_{
    color: #77797c;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.alc_:hover{
    color: #c11f46;
}
.social__header:hover{
    fill: #c11f46;
}


  
  .vedanageous{
    position: relative;

    z-index: 4;
  }
  
  .input{
    width: 395px;
    border: 2px solid dimgrey;
    background: transparent;
    padding: 5px 15px;
    border-radius: 100px;
    outline: none;
    font-size: 20px;
    color:dimgrey;
  }
  
  ::-webkit-input-placeholder {  
    color: dimgrey;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
  }

  
  .kopaverage-dapodcas {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #fff;
    background: dimgrey;
    border: 0px;
    padding: 10px 15px;
    border-radius: 100px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}

.content{
    display: flex;


}
.filters{
    width: 20%;
    border-right: 1px solid gainsboro;

}
.goods{
    width: 80%;

}
.filter__item{
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    
}
.name__filter{
    margin-bottom: 5px;
}
.goods{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.goods__item{
    border: 1px solid #000;
    border-radius: 20px;
    width: 21%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    padding: 25px;
    margin-bottom: 25px;


}
.botle{
    height: 220px;
    display: block;
    object-fit: cover;

}
.buy {
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    font-size: 18px;
    padding: 6px;
}
.buy:hover{
    color: #c11f46;
    border: 2px solid #c11f46;
}
.types{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    top: 0;
    padding-left: 10px;
    border: 0px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.type__item{
    display: flex;
}
.goods__item:hover .types{
   display: block;
}
.type__title{
    color: #c11f46;
}
.type__suptitle{
    margin-left: 5px;
}